%form{ :action => "notifications/search", :method => "get" }
  %label{ :for => "phone"} Phone Number:
  %input{ :type => "text", :name => "phone", :class => "text" }
  %input{:type => "submit", :value => "Search", :class => "button"}
