- @nav_hierarchy = [:notifications]

%h2 Notifications

#paginator
  = paginate @notifications, :remote => true

%table.admin-table
  %thead
    %tr
      %th ID
      %th Enrollment
      %th Message
      %th Start
      %th Status
      %th Delivered At
      %th Actions
  %tbody#notifications
    = render @notifications
