- @nav_hierarchy = [:dashboard]

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut semper lobortis
varius. Phasellus placerat velit ut odio porttitor ultrices. Mauris nec
purus egestas velit ultrices bibendum. Maecenas semper accumsan egestas.
Nullam ac dolor eget mauris facilisis adipiscing. Donec ut risus lacus.
Vivamus vel justo nibh, condimentum congue arcu. Vivamus sed nisl at nibh
volutpat blandit id interdum urna. Integer vehicula metus at velit porta ut
tincidunt lectus condimentum. Ut nibh ligula, pulvinar nec posuere luctus,
tincidunt ut arcu. Donec vel nisl urna. Pellentesque non tellus vitae enim
porttitor dictum eu at metus. Proin faucibus semper fringilla. Aliquam erat
volutpat. Aenean posuere arcu ac sem gravida aliquam. Ut mollis magna et
felis cursus commodo tempus diam fringilla. Maecenas nisi purus, sodales
pellentesque sollicitudin non, consequat ut diam. Morbi non augue velit.
