%h1 Admin
%h2 Manage
%ul
  %li= link_to 'Message Streams', [:admin, :message_streams]
  %li= link_to 'Notifications', [:admin, :notifications]
  %li= link_to 'Notifiers', [:admin, :notifiers]
  %li= link_to 'Users', [:admin, :users]
