- @nav_hierarchy = [:reports]

%h2 Reports and Files

- @report_dirs.keys.sort.each do |dir|
  %table.admin-table
    %tr
      %th.left{:colspan=>2}= dir + '/'
    - @report_dirs[dir].each do |filename|
      %tr{:class => cycle('even', 'odd')}
        %td.left= link_to filename, admin_reports_download_path([dir,filename].join('/'))

- if @report_dirs.blank?
  No files
