:ruby
  @nav_hierarchy = [:reports]

%h2= t('.title')

- @report_dirs.keys.sort.each do |dir|
  %table.admin-table.reports
    %thead
      %tr
        %th.filename= dir + '/'
    %tbody
      - @report_dirs[dir].each do |filename|
        %tr.report{:class => cycle('even', 'odd')}
          %td.filename= link_to filename, admin_reports_download_path([dir,filename].join('/'))

= t('.no_files') if @report_dirs.blank?
