:ruby
  @nav_hierarchy = [:reports]
  @trees = @reports.map do |notifier,reports|
    {
      'label'    => notifier.name,
      'children' => reports.group_by(&:month).map {|month,reports|
        {
          'label'    => l(month, :format => t('.month_fmt')),
          'children' => reports.map {|report|
            {
              'label' => report.filename,
              'id'    => report.path,
            }
          }
        }
      }.reverse # newest months first
    }
  end

%h2= t('.title')

.report-dir-trees

:javascript
  $(function() {
    var $elem = $('.report-dir-trees')
    var $tree = $elem.tree({
      data: #{@trees.to_json.html_safe},
      autoOpen: 0,
      slide: false,
      selectable: true,
      onCanSelectNode: function(node) {
        return node.children.length == 0
      },
    });

    var baseUrl = window.location.pathname;
    $tree.bind('tree.select', function(event) {
      if (event.node.id) { window.location = baseUrl + '/' + event.node.id; };
    });
  });
