:ruby
  @nav_hierarchy = [:reports]

%h2= t('.title')

.report-dir-trees

:javascript
  $(function() {
    var $elem = $('.report-dir-trees')
    var $tree = $elem.tree({
      data: #{@dir_trees.to_json.html_safe},
      autoOpen: 0,
      selectable: true,
      onCanSelectNode: function(node) {
        return node.children.length == 0
      },
    });

    // open newest folder for each notifier directory
    $tree.find('.jqtree-folder').find('.jqtree-folder.jqtree-closed:first').removeClass('jqtree-closed');

    var baseUrl = window.location.pathname;
    $tree.bind('tree.select', function(event) {
      if (event.node.id) { window.location = baseUrl + event.node.id; };
    });
  });
