- @nav_hierarchy = [:reports]

%h2 Reports

%table.admin-table
  %tr
    %th Report
    %th Actions
  - @report_files.each do |report_file|
    %tr{:class => cycle('even', 'odd')}
      %td.reports= "#{report_file}.csv"
      %td.actions
        #{link_to 'Download', admin_reports_download_path(report_file)}

