/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset
 *= require_self
 *= require_tree . 
*/

body {
  background-color: #f4fad2;
  line-height: 18px;
  font-size: 12px;
  font-family: Arial;
}

h1, h2 {
  margin: 10px 0px 5px 0px;
  font-weight: bold;
}

h1 { font-size: 20px; }
h2 { font-size: 18px; }

a:link, a:visited, a:active {
  text-decoration: none;
  font-weight: bold;
  color: #b40f0f;
}

a:hover {
  color: #e41;
}

input:focus {
  border-color: #444 !important;
}

#main {
  width: 980px;
  padding: 20px;
}

#content {
  padding: 20px;
  background-color: #fff;
  border-left: 5px solid #e1edb9;
}

#footer {
  background-color: #888;
  border-left: 5px solid #666;
  padding: 10px;
  font-size: 12px;
  color: #fff;
}

#primary-nav {
  height: 34px;
  border-bottom: 10px solid #222;
  border-top: 6px solid #444;
  background-color: #555;

  ul {
    margin: -3px 0px 0px 8px;
  }

  li {
    height: 20px;
    margin: 0px 2px;
    display: block; float: left;
    padding: 10px 12px;
    font-size: 15px;
    letter-spacing: 1px;
    background-color: rgba(144, 144, 144, 0.75);
    border-left: 3px solid #888;
    border-right: 3px solid #888;
    cursor: pointer;
  }

  li:hover {
    background-color: rgba(192, 192, 192, 0.75);
    border-left: 3px solid #aaa;
    border-right: 3px solid #aaa;
  }

  a:link, a:visited, a:active {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
  }

  .selected {
    height: 20px;
    margin: 0px 4px;
    padding: 10px 13px;
    background-color: rgba(255, 32, 32, 0.75) !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 18px solid transparent;
  }
}

#user-nav {
  width: 100%;
  background-color: #222;
  border-bottom: 5px solid #b40f0f;
  color: #ccc;

  .site-title {
    padding: 10px;
    font-size: 24px;
  }

  .user-logged-in {
    position: absolute;
    top: 10px; right: 10px;
  }

}

#nav-hierarchy {
  background-color: #fff;
  padding: 12px 15px 5px 15px;
  border-left: 5px solid #e1edb9;

  a:link, a:visited, a:active {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: normal;
  }
}

.search {
  float: right;

  input {
    padding: 2px 6px;
    line-height: 1.4em;
    font-family: Arial;
    font-size: 14px;
    border: 2px solid #ccc;
  }
}

.admin-table {
  width: 100%;
  white-space: nowrap;
  margin-bottom: 20px;

  thead {
    th {
      padding: 5px 10px;
      background-color: #d4ee5e;
    }
  }

  tbody {
    td {
      padding: 5px 10px;
      text-align: center;
      vertical-align: top;
    }

    tr.odd {
      background-color: #e1edb9;
    }

    td.actions {
      text-align: right;
    }

    .message .sms_text {
      font-size: 10px;
      white-space: normal;
      text-align: left;
    }

  }
}

.admin-table.reports .filename {
  text-align: left;
}

div.actions { /* action links outside of an admin table */
  margin: 5px;
  font-size: 14px;
}

.admin-form {
  margin-bottom: 30px;

  input[type="text"], input[type="password"] {
    width: 200px;
    padding: 2px 6px;
    line-height: 1.4em;
    font-family: Arial;
    font-size: 14px;
    border: 1px solid #ccc;
  }

  input[type="submit"] {
    margin: 0px;
    padding: 4px 6px;
    font-size: 14px;
    letter-spacing: 1px;
  }

  .field, .actions {
    clear: left;
    border-top: 1px dashed #ccc;
    padding: 10px 0px 10px 180px;
    min-height: 18px;

    .label {
      float: left;
      width: 160px;
      margin-left: -180px;
      font-weight: bold;
    }

    .error-msg {
      font-size: 12px;
      font-style: italic;
      color: #f22;
    }
  }

  .text-block {
    white-space: pre-wrap;
  }
}

.admin-delivery-details {
  border-left: 5px solid #ccc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.dashboard-breakdown {
  float: left;
  width: 33%;
  margin-bottom: 20px;
}
