:ruby
  @nav_hierarchy = [:users]

%h2= t('.title')
= render 'table', :users => @users

.actions
  %ul
    - if current_ability.can? :create, User
      = link_to t('.actions.new'), new_admin_user_path
