- content_for :stylesheets do
  = stylesheet_link_tag 'admin'

- content_for :content do
  #main
    #primary-nav
      %ul
        - primary_nav(@primary_nav).each do |i|
          %li{i[:selected] && :class => 'selected'}= link_to i[:title], i[:path]
    #content= yield
    #footer Unauthorized access prohibited.

= render :file => 'layouts/application'
